:host {
  display: flex;
  flex-direction: column;
    
  .chat-room--content-wrapper {
    display: flex;
    flex-direction: column;
    
    .chat-room-item {
      padding: 0 0 1rem 0;
      line-height: 32px;
      
      &.chat-room-item--date-row {
        display: block;
        width: 100%;
        height: unset;
        line-height: 3rem;
        padding: 2rem 0 0 0;
        text-align: center;
      }

      .chat-room-item--from-display {
        line-height: 32px;
        padding: 0 0.75rem;
      }

      .chat-room-item--content {
        padding: 0.5rem;
        border-radius: .75rem;
        box-shadow: 0 0 0 0.062rem grey;
        margin: 0.25rem;
      }

      ::ng-deep.mat-list-item-content {
        align-items: start;
      }
    }
  }

  .chat-room--bottom-action-bar {
    display: flex;
    padding: 1rem;
    background: rgb(0 0 0 / 6%);
    align-items: center;

    mat-form-field {
      width: 100%;
      padding-right: 1rem;

      ::ng-deep {
        .mat-form-field-flex {
          background-color: transparent;

          textarea {
            max-height: 25vh;
          }
        }
      }
    }

    button {
      background-color: rgb(68,138,255);

      ::ng-deep svg {
        margin-top: -3px;
      }
    }
  }
}