:host {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
  
    #canvas-display {
      width: 100%;
      height: 100%;
  
      width: calc( 100% - 1.5rem );
      height: calc( 100% - 1.5rem );
      border: 0.25rem dashed transparent;
      border-radius: 1.75rem 1.75rem 3.5rem 1rem;
      margin: 0.5rem;
      background: white;
  
      overflow: hidden;
    }
  
    #display-mode-cancle {
      display: none;
    }
  
    &.custom-can-display--display-mode---open {
      #canvas-display {
        border-color: rgba(98, 0, 238, .5);
      }
    }
    
    #save-folder {
      position: fixed;
      bottom: 2rem;
      right: 7.75rem;
      overflow: hidden;
    
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 1.25rem;
        left: 0;
        right: 0;
        height: 0%;
        transition: height 1s cubic-bezier(0,0,0,0);
        background: #6200ee;
        opacity: .5;
      }
      &.changed:after {
        height: 1.75rem;
      }
    }
    
    #open-utility-list {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      transition: all 0.33s ease;
      padding: 0;
    
      &.is-open {
        transform: rotate( -135deg );
        background: white;
        color: #6200ee;
        border: .137rem dashed #6200ee;
        box-shadow: -3px -3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
      }
    }
    
    #utility-list {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      padding: 1rem 0rem 6rem 0rem;
      background: rgba(255,255,255, .75);
      border: 1px solid gray;
      border-radius: 2rem 2rem 3rem 2rem;
    
      .custom--button-list {
        display: inline-flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
      
        button.mdc-button {
          width: 100%;
          height: 4rem;
          padding: 0 3.5rem 0 4rem;
          border: none;
          background-color: transparent;
          position: relative;
        
          &:hover {
            background: rgba(200, 200, 255, .33);
            transition: background .25s ease;
          }
    
          .mdc-button__icon.material-icons {
            font-size: 1.5rem;
            line-height: 1.2rem;
            margin-right: 2rem;
    
            &:after {
              content: "+";
              display: block;
    
              position: absolute;
              top: 0;
              bottom: 0;
              left: 1rem;
    
              color: black;
              font-size: 1.25rem;
              line-height: 7rem;
              font-weight: 900;
    
              padding: 0 0.25rem 0.125rem 0.25rem;
    
              opacity: 0.5;
            }        
          }
    
          .mdc-button__label {
            width: 100%;
            font-size: 1rem;
            line-height: 2rem;
          }
        }
      }
    }
  }