<app-displayer #can_displayer
  [folder-id]="'test1'"
></app-displayer>

<button mat-fab color="primary" id="save-folder"
  class="overlay-button" aria-label="Save Stickerwall"
>
  <mat-icon>save</mat-icon>
</button>


<div id="utility-list" *ngIf="createToolboxVisible">
  <div class="custom--button-list">

    <button mat-flat-button
      id="dialog--mod-pin-qoute--open" (click)="openCreateQouteDialog( )"
    >
      <mat-icon>format_quote</mat-icon>
      <span>Quote</span>
    </button>

    <button mat-flat-button
      id="dialog--mod-pin-notice--open"
    >
      <mat-icon>assignment</mat-icon>
      <span>Notice</span>
    </button>


    <button mat-flat-button
      id="dialog--mod-pin-connection--open"
    >
      <mat-icon>share</mat-icon>
      <span>Connect</span>
    </button>

    <!--button class="mdc-button mdc-button--icon-leading"
      id="dialog--mod-pin-qoute--open" (click)="openCreateQouteDialog( )"
    >
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">format_quote</i>
      <span class="mdc-button__label">Quote</span>
    </button>
    <button id="dialog--mod-pin-notice--open" class="mdc-button mdc-button--icon-leading">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">assignment</i>
      <span class="mdc-button__label">Notice</span>
    </button>
    <button id="display-mode--add-connection--open" class="mdc-button mdc-button--icon-leading">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">share</i>
      <span class="mdc-button__label">Connect</span>
    </button-->

  </div>
</div>

<button mat-fab color="primary"
  id="open-utility-list" #OpenUtilityListBtn
  (click)="tgglCreateToolboxVisible( )"
  class="overlay-button" [class]="createToolboxVisible? 'is-open': ''"
  ria-label="Create new Node"
>
  <mat-icon>add</mat-icon>
</button>

<app-zoom-panel #zoom_panel
  (changedScale)="setWallFrameDisance( $event )"
></app-zoom-panel>